@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  background-color: #fafafa;
  background-image: url(../src/images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
}

a:link {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
}
